<%%= page_header '<%= plural_table_name.humanize.capitalize %>' %>
<%%= new_link(<%= class_name %>) %>
<br /><br />

<table class="table table-striped table-bordered">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th class="edit"></th>
      <th class="delete"></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <%%= td_edit(<%= singular_table_name %>) %>
        <%%= td_delete(<%= singular_table_name %>) %>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= new_link(<%= class_name %>) %>
